* {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(76, 76, 76);
  color: white;
}

.App_light {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: black;
}
